{% extends 'core/base.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static "css/client_list.css" %}">
{% endblock %}

{% block content %}

    <div class="container">


        <div class="jumbotron">
            <header class="section-header">
                <h3>Clients</h3>
            </header>
        </div>

        {% if object_list|length > 0 %}

        <div class="row justify-content-center">

            {% for client in object_list %}
                <!-- Card Light -->
                <div class="col-lg-3  bg-white rounded card text-center ">

                    <!-- Card image -->
                    <div class="view img-overlay">
                        <img class="card-img-top img-fluid"
                             src="{{ MEDIA_URL }}{{ client.client_logo }}"
                             alt="{{ client.client_name }}">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body ">
                        <!-- Title -->
                        <h4 class="card-title">{{ client.client_name }}</h4>
                        <hr>

                        <a href="{{ client.client_website }}" class="card-link">
                            Website
                        </a>
                        <a href="{% url 'client-detail' client.slug %}" class="card-link">
                            Projects
                        </a>

                    </div>


                </div>
            {% endfor %}
        </div>
        {% else %}
                {% include "core/coming_soon.html" %}
        {% endif %}

    </div>
{% endblock %}