{% extends 'core/base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
    <link rel="stylesheet" href="{% static "css/gallery_image.css" %}">
    <link rel="stylesheet" href="{% static "css/client_list.css" %}">
    <div class="container">

        <a href="{{ object.client_website }}">
            <div class="view img-overlay text-center">
                <img class="img-fluid"
                     src="{{ MEDIA_URL }}{{ object.client_logo }}"
                     alt="{{ object.client_name }}">

            </div>
        </a>

        <div class="jumbotron">
            <header class="section-header">
                <h3>{{ object.client_name }}</h3>
            </header>
        </div>
        <header class="section-header">
            <h4>Projects</h4>
        </header>
        {% if project_list|length > 0 %}
            <div class="row justify-content-start">

                {% for project in project_list %}
                    <!-- Card Light -->
                    <div class="shadow col-lg-4  bg-white rounded">
                        <div class="card text-center border-n">
                            <!-- Card image -->
                            <div class="view img-overlay">
                                <img class="card-img-top"
                                     src="{{ MEDIA_URL }}{{ project.cover_image.image }}"
                                     alt="{{ project.project_name }}">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div class="card-body ">
                                <!-- Title -->
                                <h4 class="card-title">{{ project.project_name }}</h4>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <a class="card-link"
                                       href="{% url 'client-detail' project.client.slug%}">{{ project.client.client_name }}</a>
                                </h6>
                                <hr>
                                <p class="card-text">
                                    {{ project.project_description }}
                                </p>
                                <p class="card-text">
                                    City : {{ project.city }}
                                </p>
                                <p class="card-text">
                                    Architect : {{ project.architect }}
                                </p>
                                <p class="card-text">
                                    Year : {{ project.year }}
                                </p>

                                <p class="card-text">
                                    {{ project.expertise }}
                                </p>


                                <a href="{% url 'project-detail' project.slug %}" class="card-link">
                                    Know More
                                </a>

                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="jumbotron justify-content-center">
                <h4 align="center">Coming Soon</h4>
            </div>
        {% endif %}


        <header class="section-header">
            <h4>Gallery</h4>
        </header>


        <div class="container" id="gallery">
            {% if image_list|length > 0 %}
                <div class="row justify-content-start">

                    {% for image in image_list %}
                        <div class="gallery-image">

                            <a href="{{ MEDIA_URL }}{{ image.image }}"
                               class="glightbox hvrbox col-md-3 fadeIn "
                               data-title="{{ image.image_description }} at {{ image.project.project_name }} by {{ image.project.client.client_name }}">

                                <img class="img-responsive" src="{{ MEDIA_URL }}{{ image.image }}">

                                <div class="hvrbox-layer_top">
                                    <div class="hvrbox-text">
                                        {{ image.project.project_name }}
                                        by {{ image.project.client.client_name }}, {{ image.project.city }}
                                        <br/>
                                        <br/>
                                        Click to enlarge
                                        <div class="hvrbox-text_mobile">Tap again to go further</div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    {% endfor %}

                </div>
            {% else %}
                <div class="jumbotron justify-content-center">
                    <h4 align="center">Coming Soon</h4>
                </div>
            {% endif %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script>
        var lightbox = GLightbox();


    </script>

{% endblock %}