{% extends '../information/base.html' %}


{% block content %}

</style>


<link rel="stylesheet" href="/media/custom_css/gallery_image.css">
<div class="jumbotron">
    <h1> {{service.name_of_service}}</h1>
</div>

<center>
    <div class="container" style="margin: 2em">
        <div class="row photos">
            {% for image in images %}
            <figure class="col-lg-3 col-md-4 col-6">
                <div class="imageContainer">
                    <div class="hovereffect2">
                        <img class="img-responsive" src="/media/{{image.image}}" alt="">

                        <div class="overlay">
                            <p>
                                Project : {{image.project.project_name}}
                            </p>
                            <p>
                                Client : {{image.project.client.client_name}}
                            </p>
                            <p>
                                <a href="/media/{{image.image}}">Enlarge</a>

                            </p>

                        </div>
                    </div>
                </div>
            </figure>
            {% endfor %}
        </div>
    </div>
</center>
{% endblock  %}