<section id="about">
    <header class="section-header">
        <h3>About Us</h3>

    </header>
    <div class="container" style="margin-top: 80px; margin-bottom: 50px; ">
        <h3 class="text-center">"Concept to Reality"</h3>
        <br/>
        <br/>

        <p class="lead text-md-center"><b>Connect Building Solutions Pvt. Ltd.</b> undertakes projects from
            conceptualization to
            commissioning. CBS designs, and executes a range of architectural elements from steel structures</>,
        tensile membrane structures, space frames to facades, roofings, sky walks and building interiors.
        </p>
        <br/>
        <hr/>
        <br/>
        <p class="lead text-md-center">
            Since its inception in 2006, CBS has executed over 300 projects at numerous
            Retail Hubs across Delhi & NCR, and many other cities of North, West and East of India.
            Current projects consist of sports facilities, health facilities, commercial retail outlets,
            housings, hospitalities, educational institutions and infrastructure.
        </p>
        <br/>
        <hr/>
        <br/>
        <p class="lead text-md-center">

            Equipped with an in-house Architectural, Engineering and Execution team, CBS provides highly
            efficient and effective execution of projects. This is combined with outstanding
            functionality with high aesthetic appeal enabling fascinating architectural solutions.
        </p>
    </div>
    </div>
</section>
    {% include 'information/home_page/facts.html' %}
