<!--==========================
      About Us Section
    ============================-->

{% load static %}


<section id="expertise-section" style="
        background-size: cover;
        background-attachment: scroll;
        position: relative;">
    <div class="container">

        <header class="section-header">
            <h3>Expertise</h3>
            <p class="lead text-md-center">CBS acts as a reliable partner at every stage of the project: from "concept
                to reality"</p>
        </header>

        <div class="row expertise-section-cols">

            <div class="col-md-4 wow fadeInUp">
                <div class="expertise-section-col">
                    <div class="img">
                        <div class="img-overlay">
                            <img src="{% static "images/expertise/Roofing.jpg" %}" alt="IMG"
                                 class="img-fluid expertise-img">
                        </div>
                        <h1 class="text-centered">Roofings</h1>
                    </div>
                    <br/>
                    <p class="lead text-justify">
                        In 2003, Indian building industry was introduced to modular polycarbonate panels manufactured by
                        DANPAL (Israel) and soon CBS was incorporated as a solution provider for carrying out the base
                        structures and coverings with polycarbonate, which was extensively used as a element of daylight
                        architecture. CBS specializes in executing aesthetically designed large span skylights, and
                        established itself as a favorite of many leading architecture studios and big reality developers
                        in the country.
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp">
                <div class="expertise-section-col">
                    <div class="img">
                        <div class="img-overlay">
                            <img src="{% static "images/expertise/Steel_Structure.jpg" %}" alt="IMG"
                                 class="img-fluid expertise-img">
                        </div>
                        <h1 class="text-centered">Steel Structures</h1>
                    </div>
                    <br/>
                    <p class="lead text-justify">
                        Having 14 years of experience in providing solutions for covering atriums at some of the major
                        retail facilities in Delhi-NCR and many other cities across the country. CBS has mastered
                        the skills of executing sleek, elegant, economical and sturdy steel structures for claddings,
                        polycarbonate panels, membrane, mesh and other building requirements. CBS is equipped with an
                        in-house structure design and drawing team to compliment the smooth execution of the project
                        undertaken.
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp">
                <div class="expertise-section-col">
                    <div class="img">
                        <div class="img-overlay">
                            <img src="{% static "images/expertise/Tensile.jpg" %}" alt="IMG"
                                 class="img-fluid expertise-img">
                        </div>
                        <h1 class="text-centered">Tensile Membrane Structures</h1>
                    </div>
                    <br/>
                    <p class="lead text-justify">
                        To cater the demand of the industry, new products and materials provided flexibility and
                        advantage in opting for irregular shapes and forms to the roofings and coverings. This advantage
                        provided was provided by architectural fabric which came into vogue and soon became a favorite
                        of architects and designers. CBS looked for the future in membrane structures half a decade ago
                        and successfully executed a number of atriums, entrances of housing and township projects.
                    </p>
                </div>
            </div>


            <div class="col-md-4 wow fadeInUp">
                <div class="expertise-section-col">
                    <div class="img">
                        <div class="img-overlay">
                            <img src="{% static "images/expertise/Cladding.jpg" %}" alt="IMG"
                                 class="img-fluid expertise-img">
                        </div>
                        <h1 class="text-centered">Facades and Claddings</h1>
                    </div>
                    <br/>
                    <p class="lead text-justify">
                        Acceptance of innovative and environment friendly building materials like membrane, glass, mesh,
                        composite panel, to name a few give a unique look and dimension to the front/facias of the
                        buildings. The specialized facade designing studios and agencies are supported by CBS in
                        realising the concept with effective and clean execution.

                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp">
                <div class="expertise-section-col">
                    <div class="img">
                        <div class="img-overlay">

                            <img src="{% static "images/expertise/Services.jpg" %}" alt="IMG" class="img-fluid">
                        </div>
                        <h1 class="text-centered">Solutions</h1>
                    </div>
                    <br/>
                    <p class="lead text-justify">
                        CBS provides following in house structures solutions for :
                    <ul>
                        <li>Architectural Steel</li>
                        <li>Tensile Membrane</li>
                        <li>Building Wraps</li>
                        <li>Space Frame</li>
                        <li>Facades System</li>
                        <li>Sky Lights</li>
                    </ul>

                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp">
                <div class="expertise-section-col">
                    <div class="img">
                        <div class="img-overlay">
                            <img src="{% static "images/expertise/Studio_Connect.jpg" %}" alt="IMG"
                                 class="img-fluid expertise-img">
                        </div>
                        <h1 class="text-centered">Studio Connect</h1>
                    </div>
                    <br/>
                    <p class="lead text-justify">
                        A new vertical of Connect Building Solutions for Architecture and Interior Design. Studio
                        Connect
                        caters to exclusive interiors for commercial, retail, hospitality and restaurant industry. With
                        a
                        team of young architects and engineers, specializing in modern concept of design, working for
                        complete turnkey interior solutions.
                    </p>
                </div>
            </div>


        </div>

    </div>
</section>