{% extends 'information/base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
    <link rel="stylesheet" href="{% static "css/gallery_image.css" %}">
    <br/><br/><br/><br/>
    <div class="container">

        <div class="jumbotron">
            <h2>Gallery</h2>
        </div>


        <!-- Grid row -->
        <div class="container" id="gallery">
            <div class="row justify-content-start">

                {% for image in images %}

                    <a href="/media/{{ image.image }}"
                       class="glightbox hvrbox col-md-4 fadeIn"
                       data-title="{{ image.image_description }} at {{ image.project.project_name }} by {{ image.project.client.client_name }}">

                        <img class="img-fluid" src="/media/{{ image.image }}"
                             style="object-fit: contain;">

                        <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">{{ image.image_description }}
                                <div class="hvrbox-text_mobile">Tap again to go further</div>
                            </div>
                        </div>
                    </a>


                {% endfor %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script>
        var lightbox = GLightbox();
    </script>
    <script src="{% static 'gallery_page.html' %}"></script>

{% endblock %}