<!-- Javascript -->
    <script src="{% static "third_party/font-awesome/js/all.min.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src= {% static "third_party/bootstrap/js/bootstrap.min.js" %} ></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link  rel="stylesheet" href= {% static "third_party/bootstrap/css/bootstrap.css" %} >
    <link rel="stylesheet" href="{% static "css/base.css" %}">

    <link  rel="stylesheet" href="{% static "third_party/font-awesome/css/all.min.css"%}">
    <link href="{% static "third_party/lightbox/css/lightbox.min.css" %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">