{% extends 'information/base.html' %}

{% block content %}
<div class="jumbotron">
  <h1>About Us</h1>
  <p class="lead">{{about_info.main_description_paragraph_1}}</p>

</div>
SOME IMAGE OR GRAPHIC HERE or A QUOTE FROM SOME CLIENT OF SOME REFERENCE

<div class="jumbotron">
  <p class="lead"> {{about_info.main_description_paragraph_2}}</p>
  <p class="lead"> {{about_info.main_description_paragraph_3}}</p>
</div>

<center style="padding-top: 10px;padding-bottom: 20px;">
  <h2>Why us?</h2>
</center>

<div class="container">
  <div class="row justify-content-around">

    <div class="card text-white bg-info mb-3" style="max-width: 14rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
    </div>

    <div class="card text-white bg-info mb-3" style="max-width: 14rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
    </div>

    <div class="card text-white bg-info mb-3" style="max-width: 14rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
    </div>

    <div class="card text-white bg-info mb-3" style="max-width: 14rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock  %}