{% extends 'information/base.html' %}

{% block content %}
<div class="jumbotron">
  <h2>About Us</h2>
  <p class="lead">{{about_info.main_description_paragraph_1}}</p>

</div>
SOME IMAGE OR GRAPHIC HERE or A QUOTE FROM SOME CLIENT OF SOME REFERENCE

<div class="jumbotron">
  <p class="lead"> {{about_info.main_description_paragraph_2}}</p>
  <p class="lead"> {{about_info.main_description_paragraph_3}}</p>
</div>

<center style="padding-top: 10px;padding-bottom: 20px;">
  <h2>Why us?</h2>
</center>

<div class="container" style="padding-bottom: 50px">
  <div class="row justify-content-around">



    {% for card in about_info.whyuscard_set.all %}

    <div class="card text-white bg-info mb-3" style="max-width: 16rem;">
      <div class="card-header">

        <h5>
          {{card.card_header}}
        </h5>
      </div>
      <div class="card-body">
        <p class="card-text">
          {{card.card_body }}
        </p>
      </div>
    </div>

    {% endfor %}




  </div>
</div>

<div class="row justify-content-center " style="background-color: black;height: 100%;padding: 50px">
    <blockquote class="blockquote text-center " style="color: darkgoldenrod">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>

</div>

{% endblock  %}