{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale=1.0, shrink-to-fit=no>
    <meta http-equiv=" X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">


    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/media/custom_css/base.css">
        <title>Connect Building Solution</title>

    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    {% if home_page == "active" %}
        <script>
        $(document).scroll(function () {
            var $nav = $(".navbar-default");
            var $carousel = $("#carouselExampleControls")
            $nav.toggleClass('scrolled', $(this).scrollTop() > $carousel.height() - $nav.height());
        });
    </script>
    {% else %}

    <script>
        $(document).ready(function () {
            var $nav = $(".navbar-default");
            var $carousel = $("#carouselExampleControls")
            $nav.toggleClass('scrolled', $(this).scrollTop() >= -1 );
        });
    </script>


    {% endif %}

    


    <script src="https://kit.fontawesome.com/fbc4c5bfe7.js"></script>


</head>

<body style="overflow-x: hidden;">

    {%  include  'information/navbar.html' %}

    {% if home_page == "active"  %}
    
    {% include 'information/carousel.html' %}
    
    {% endif %}



    <div class="fade">


        {% block content %}
        {% endblock  %}

    </div>

    {% include 'information/footer.html' %}



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>