{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale=1.0, shrink-to-fit=no>
    <meta http-equiv=" X-UA-Compatible" content="ie=edge">


    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
        rel="stylesheet">
    <link rel="stylesheet" href="/media/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/media/custom_css/base.css">

    <link href="/media/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/media/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <title>Connect Building Solution</title>











</head>

<body style="overflow-x: hidden;">

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-analytics.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyBmQruM1Jv5RHUGKkbXe-5-QtqA3WqzRHE",
            authDomain: "connect-building-solutions.firebaseapp.com",
            databaseURL: "https://connect-building-solutions.firebaseio.com",
            projectId: "connect-building-solutions",
            storageBucket: "connect-building-solutions.appspot.com",
            messagingSenderId: "158087486274",
            appId: "1:158087486274:web:7a57004f30c88f6258c6db",
            measurementId: "G-JW2LTVYFN6"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>







    <script src="https://kit.fontawesome.com/fbc4c5bfe7.js"></script>

    <script src="/media/lib/jquery/jquery.min.js"></script>
    <script src="/media/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>


    {%  include  'information/navbar.html' %}




    <div class="fade">


        {% block content %}
        {% endblock  %}

    </div>

    {% include 'information/footer.html' %}












    {% if home_page == "active" %}
    <script>
        $(document).scroll(function () {
            var $nav = $(".navbar-default");
            var $carousel = $("#introCarousel")
            $nav.toggleClass('scrolled', $(this).scrollTop() > $carousel.height() - $nav.height());
        });
    </script>
    {% else %}

    <script>
        $(document).ready(function () {
            var $nav = $(".navbar-default");
            $nav.toggleClass('scrolled', true);
        });
    </script>


    {% endif %}

</body>

</html>