{% extends 'information/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h2 >Contact Us</h2>

<form method="post" class="form">
    {% csrf_token %}
    {% if message %}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {% endif %}

    {{ form.non_field_errors }}
    <div class="form-group">


        <div class="col-4 ">
            {{ form.errors }}
            {{ form|crispy }}
        </div>


    </div>

    <button class="btn btn-success " type="submit">Submit Query </button>

</form>
{% endblock  %}