<!--==========================
     Facts Section
   ============================-->

{% load static %}
<link rel="stylesheet" href="{% static "css/facts.css" %}">
<script src="{% static "third_party/waypoints/waypoints.min.js" %}"></script>
<script src="{% static "third_party/counterup/counterup.min.js" %}"></script>

<section id="facts" class="wow fadeIn">
    <div class="container">

        <header class="section-header">
            <h3>Facts</h3>
        </header>

        <div class="row counters">


            <div class="col-lg-3 col-6 text-center">
                <p>More than</p>
                <span data-toggle="counter-up">300</span>
                <p>Projects</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <p>Worked with</p>
                <span data-toggle="counter-up">100</span>
                <p>Clients</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <p>Worked in </p>
                <span data-toggle="counter-up">14</span>
                <p>States</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <p>Worked in </p>
                <span data-toggle="counter-up">14</span>
                <p>States</p>
            </div>


        </div>

    </div>
</section><!-- #facts -->
<script>
    $('[data-toggle="counter-up"]').counterUp({
        delay: 10,
        time: 1000
    });
</script>