{% extends 'information/base.html' %} {% block content %}
<!-- 
<div class="jumbotron">
    <h2>Home Page</h2>
</div> -->

{% include 'information/carousel.html' %}


{% if home_page_fields %}
<div class="container" style="margin-top: 80px; margin-bottom: 50px; ">
    <h5 class="text-muted text-center">"{{ home_page_fields.tag_line }}"</h5>
    <br>
    <br>
    <p class="lead">{{ home_page_fields.brief_description }}</p>
</div>
{% endif %}

{% include "information/what_we_do.html" %}


{% include "information/facts.html" %}

{% include 'information/map-cluster.html' %}


{% include "information/our_clients.html" %}




{% endblock %}