<style>
    .navbar img {
        height: 10vh;
        padding: 0%;
    }
</style>

{% if home_page == "active" %}
<script>
    $(document).scroll(function () {
        var $nav = $(".navbar-default");
        var $carousel = $("#introCarousel")
        $nav.toggleClass('scrolled', $(this).scrollTop() > $carousel.height() - $nav.height());
    });
</script>
{% else %}

<script>
    $(document).ready(function () {
        var $nav = $(".navbar-default");
        $nav.toggleClass('scrolled', true);
    });
</script>


{% endif %}

<nav class="navbar navbar-default navbar-expand-lg navbar-dark navbar-fixed-top fixed-top"
    style="font-family: 'Roboto Slab', serif;">

    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="/media/logo.png" alt="Connect Building Solution" style="max-width: 40vw;">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto navbar-brand">


                <a class="nav-item nav-link {{home_page}}" href="{% url  'home' %}" style="color: black;">Home </a>
                <a class="nav-item nav-link {{about_page}}" href="{% url 'about_us' %}" style="color: black;">About
                    Us</a>
                <a class="nav-item nav-link {{gallery_page}}" href="{% url 'gallery' %}"
                    style="color: black;">Gallery</a>
                <a class="nav-item nav-link {{contact_page}}" href="{% url 'contact_page' %}"
                    style="color: black;">Contact Us</a>

            </div>
        </div>
    </div>
</nav>