<!--==========================
      About Us Section
    ============================-->

{% load static %}
<link rel="stylesheet" href="{% static "third_party/ionicons/css/ionicons.min.css" %}">
<!-- <link href="" rel="stylesheet"> -->
<link rel="stylesheet" href="{% static "css/about.css" %}">


<section id="about" style="background: url('{% static "images/homepage-bg3.jpg" %}') center top no-repeat fixed;
        background-size: cover;
        padding: 60px 0 40px 0;
        position: relative;">
    <div class="container">

        <header class="section-header">
            <h3>Our Expertise</h3>
            <p>We have been the leading lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
        </header>

        <div class="row about-cols">

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col">
                    <div class="img">
                        <img src="{% static "images/homepage-bg3.jpg" %}" alt="IMG" class="img-fluid">
                        <div class="icon"><i class="ion-ios-information-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Steel Structures</a></h2>
                    <p>
                        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex ea commodo consequat
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col">
                    <div class="img">
                        <img src="{% static "images/homepage-bg3.jpg" %}" alt="IMG" class="img-fluid">
                        <div class="icon"><i class="ion-ios-box-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Tensile Membrane Structures</a></h2>
                    <p>
                        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex ea commodo consequat
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col">
                    <div class="img">
                        <img src="{% static "images/homepage-bg3.jpg" %}" alt="IMG" class="img-fluid">
                        <div class="icon"><i class="ion-ios-box-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Roofings</a></h2>
                    <p>
                        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex ea commodo consequat
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col">
                    <div class="img">
                        <img src="{% static "images/homepage-bg3.jpg" %}" alt="IMG" class="img-fluid">
                        <div class="icon"><i class="ion-ios-box-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Claddings</a></h2>
                    <p>
                        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex ea commodo consequat
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col">
                    <div class="img">
                        <img src="{% static "images/homepage-bg3.jpg" %}" alt="IMG" class="img-fluid">
                        <div class="icon"><i class="ion-ios-box-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Services</a></h2>
                    <p>
                        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex ea commodo consequat
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col">
                    <div class="img">
                        <img src="{% static "images/homepage-bg3.jpg" %}" alt="IMG" class="img-fluid">
                        <div class="icon"><i class="ion-ios-list-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Studio Connect</a></h2>
                    <p>
                        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex ea commodo consequat
                    </p>
                </div>
            </div>


        </div>

    </div>
</section>