<!--==========================
      About Us Section
    ============================-->

<link rel="stylesheet" href="/media/lib/ionicons/css/ionicons.min.css">

<!-- <link href="" rel="stylesheet"> -->
<link rel="stylesheet" href="/media/custom_css/about.css">


<section id="about">
    <div class="container">

        <header class="section-header">
            <h3>Our Expertise</h3>
            <p>We have been the leading lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
        </header>

        <div class="row about-cols">

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col">
                    <div class="img">
                        <img src="/media/{{home_page_fields.about_card_1_image}}" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-information-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">{{home_page_fields.about_card_1_title }}</a></h2>
                    <p>
                        {{home_page_fields.about_card_1_description }}
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col">
                    <div class="img">
                        <img src="/media/{{home_page_fields.about_card_2_image}}" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-box-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">{{home_page_fields.about_card_2_title }}</a></h2>
                    <p>
                        {{home_page_fields.about_card_2_description }}
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col">
                    <div class="img">
                        <img src="/media/{{home_page_fields.about_card_3_image}}" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-list-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">{{home_page_fields.about_card_3_title }}</a></h2>
                    <p>
                        {{home_page_fields.about_card_3_description }}
                    </p>
                </div>
            </div>


        </div>

    </div>
</section>