body {
    font-family: "Open Sans", sans-serif;
    
}

.fade {
    animation: fadeInAnimation ease 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fa-phone {
    filter: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.navbar-default {
    transition: 500ms ease;
    background-image: linear-gradient(-90deg, #4CA1AF75, transparent 50%);
}

.navbar-default.scrolled {
    /* background: #667dff; */
    background-image: linear-gradient(-90deg, rgb(52, 175, 194), rgb(155, 211, 221) 70%);
}